.ipynb_checkpoints
.python-version
.pytest_cache
.vscode
dataset/flowers
*.png
*.jpg
__pycache__
.DS_Store
*.prm
*.pth
events.out.tfevents.*
wandb
wandb_result
.mypy_cache
.coverage*
!imgs/*.png
!imgs/*.jpg
.venv
